body{
    margin:0px;
    padding:0px;
}

#header{
    background-color:#f0f0f0;
    padding: 30px;
}

#header .header_item{
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    color: black;
}

#header .header_item a{
    text-decoration: underline;
}

#header #main_title{
    font-size: 3em;
    padding-right:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#content{
    margin:30px;
}

#footer{
    margin-top:100px;
    text-align:center;
}